body{
	background:grey;
}

#modal{
	background:silver;
	position:fixed;
	width:100vw;
	height:100vh;
	top:0;
	left:0;
	display:flex;
}

.container{
	margin: 10px;
    height: 95%;
    flex: 1;
}

.right{
	background-color:#555;
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
}

.left{
	background-color:#777;
}

.tee{
	width:100%;
	/* border:1px solid #fff; */
	height:30%;
	background-position:center;
	background-repeat:no-repeat;
}

.previous{
	background-image:url(http://media5.wgt.com/assets/community/images/wgt/courses/BPB_H07_TeeShot.jpg);
	background-size:70%;
}

.selected{
	background-image:url(http://media5.wgt.com/assets/community/images/wgt/courses/BPB_H08_TeeShot.jpg);
}

.next{
	background-image:url(http://media5.wgt.com/assets/community/images/wgt/courses/BPB_H09_TeeShot.jpg);
	background-size:70%;
}

.material-icons{
	font-size:100px;
	color:cyan;
	text-align:center;
	opacity:0.2;
	position:relative;
	height:0;
	top:-50px;
	cursor:pointer;
}

.up:hover, .down:hover{
	opacity:1;
}

















